@charset "utf-8";
@namespace epub "http://www.idpf.org/2007/ops";

#chapter-1-3 blockquote p,
#chapter-1-4 blockquote p{
	font-variant: small-caps;
	text-align: center;
	text-indent: 0;
}

/* Letter styling */

footer{
	margin-top: 1em;
	text-align: right;
}

[epub|type~="z3998:salutation"] + p{
	text-indent: 0;
}

[epub|type~="z3998:sender"],
[epub|type~="z3998:salutation"],
[epub|type~="z3998:signature"]{
	font-variant: small-caps;
}

/* All epigraphs */
[epub|type~="epigraph"]{
	font-style: italic;
	hyphens: none;
	-epub-hyphens: none;
}
/* End all epigraphs */

[epub|type~="z3998:song"] p,
[epub|type~="z3998:verse"] p{
	text-align: initial;
	text-indent: 0;
}

[epub|type~="z3998:song"] p > span,
[epub|type~="z3998:verse"] p > span{
	display: block;
	padding-left: 1em;
	text-indent: -1em;
}

[epub|type~="z3998:song"] p > span + br,
[epub|type~="z3998:verse"] p > span + br{
	display: none;
}

p span.i1{
	padding-left: 2em;
	text-indent: -1em;
}

#prologue p,
#chapter-1-1 div p,
#epilogue p{
	font-style: italic;
}
